<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>dbkill</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
 <servlet>
    <description>SysprocessesServlet</description>
    <display-name>SysprocessesServlet</display-name>
    <servlet-name>SysprocessesServlet</servlet-name>
    <servlet-class>com.thunisoft.sysbase.SysprocessesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SysprocessesServlet</servlet-name>
    <url-pattern>/sys</url-pattern>
  </servlet-mapping>
</web-app>